/* UTILITIES */

.card {
    background-color: crimson;
    border: 2px dashed black;
    height: 150px;
}

/* HEADER STYLE */

header {
    background-color: black;
}

.upperheader {
    text-align: right;
    color: white;
}

/* MAIN STYLE */

/* JUMBOTRON */

.jumbo {
    background-color: aqua;
}

/* PRODUCTS */

.products {
    text-align: center;
}

/* RELEASES */

.release {
    background-color: coral;
}

.new {
    background-color: darkgray;
}

/* EXPLORE */

.explore {
    text-align: center;
}