/* UTILITIES */

body {
    font-family: 'Roboto', sans-serif;
}

.card {
    height: 100px;
}

.jumbocard {
    height: 100px;
    border: 0;
}

.card-img {
    height: 100%;
    border-radius: 25px;
}

.text-bright {
    color: white;
}

.buy-button {
    color: white;
    background-color: #CD3D0F;
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
}

/* HEADER STYLE */

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.upperheader {
    text-align: right;
}

.nav-item {
    padding: 0 0.5rem;
}

.login {
    color: white;
    background-color: black;
    border-radius: 50px;
    margin: 0 1rem;
}

.fa-magnifying-glass {
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
}

#sony {
    width: 5rem;
    padding: 0.5rem;
}

/* MAIN STYLE */

main section:first-child {
    padding-top: 105px;
}

/* JUMBOTRON */

.jumbo {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* PRODUCTS */

.products {
    text-align: center;
}

/* RELEASES */

.release {
    background-color: coral;
}

.new {
    background-color: darkgray;
}

/* EXPLORE */

.explore {
    text-align: center;
}

/* PLUS */

.plus {
    background-color: gray;
}

/* OFFERS */

.offers {
    text-align: center;
}

/* NOW */

.now {
    background-color: blue;
}

/* FOLLOW */

.follow {
    text-align: center;
}

/* FOOTER STYLE */

footer {
    background-color: darkblue;
}

.footcard {
    background-color: azure;
    height: 50px;
    border: 2px dashed black;
}